@media all and (max-width : 1200px) {
    #portfolio .portfolio-items .portfolio-item {
        width: 50%;
    } 
    
    #portfolio .portfolio-items .portfolio-item:last-child {
        width: 100%;    
    }
}

@media (max-width : 768px) {
    #menu .toggle {
        display: block;
        background-color: #fff;
        padding: 0 20px;
        color: #1ac056;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        text-align: right;
        }
    } 
  